@import '../../bootstrap/bootstrap';
@import '../../../node_modules/react-virtualized/styles.css';
@import '../../../node_modules/react-select/dist/react-select.css';
@import '../../../node_modules/react-virtualized-select/styles.css';
@import '../../utils/animations';
@import '../../utils/mixins';
@import 'themes';

::-webkit-scrollbar {
  display: none;
}
$breakpoint: map-get($grid-breakpoints, 'md');
$timetable-background: #fff;
$timetable-row-height: 60px;
$timetable-height: 1080px;
$timetable-min-width: $breakpoint;
$timetable-border: 1px solid #ccc;
$timetable-cell-padding: 3px;
$timetable-cell-opacity: 0.5;
$timetable-header-height: 40px;
$time-col-width: 15%;
$timetable-width: 100% - $time-col-width;
$timetable-header-z-index: 3;
$timetable-module-cell-z-index: 2;
$timetable-background-z-index: -1;

.timetable-container {
  height: $timetable-height + $timetable-header-height;
}

.timetable-inner-container {
  overflow-x: scroll;
  float: left;
  width: $timetable-width;
  height: $timetable-height + $timetable-header-height;
}

.timetable-inner-wrapper {
  margin-top: $timetable-header-height;
  height: $timetable-height;
  position: relative;
}

.time-col {
  margin-top: $timetable-header-height;
  height: $timetable-height;
  background-color: #fff;
  width: $time-col-width;
  float: left;
  border-right: $timetable-border;
  padding-right: 10px;

  .time-label {
    margin-top: -0.75em;
    text-align: right;
  }

  .timetable-cell {
      font-weight: 500;
      text-align: center;
  }
}

.timetable {
  display: flex;
  flex-direction: row;
  height: $timetable-height;
  width: 100%;

  &.timetable-header {
    background-color: #fff;
    height: $timetable-header-height;
    margin-top: -$timetable-header-height;
    position: absolute;
    z-index: $timetable-header-z-index;
    box-shadow: 0 10px 28px rgba(0, 0, 0, .1), 0 3px 3px rgba(0, 0, 0, .22);
    width: 100%;

    .timetable-day {
      font-weight: 500;
      text-align: center;
      padding-top: 10px;
      overflow: hidden;
    }
  }

  &.timetable-bg {
    background-color: $timetable-background;
    height: $timetable-height;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: $timetable-background-z-index;

    .timetable-day {
      width: 100%;
      border-bottom: none;
    }

    .timetable-day,
    .timetable-day-row {
      height: 100%;
      width: 100%;
    }

    .timetable-cell-alt {
      background-color: #e4f1fe;
    }
  }

  .timetable-day {
    float: left;
    display: inline-block;
    height: 100%;
    width: 100%;

    &:not(:last-child) {
      border-right: $timetable-border;
    }
  }

  .timetable-day-row {
    display: inline-block;
    float: left;
    width: 100%;
    height: 100%;
  }

  .timetable-module-cell {
    $smaller-text: 0.6rem;
    cursor: pointer;
    float: left;
    font-size: $font-size-xs;
    height: 100%;
    width: 100%;
    line-height: 0.85rem;
    padding-left: $timetable-cell-padding;
    padding-top: $timetable-cell-padding;
    text-align: left;
    z-index: $timetable-module-cell-z-index;
    border-bottom: 2px solid;

    &.is-available {
      opacity: $timetable-cell-opacity;

      &:hover {
        opacity: 1;
        animation-duration: 0.1s;
        animation-fill-mode: forwards;
        animation-name: grow;
      }
    }

    &.is-modifiable {
      border-radius: 8px;
      border-bottom: 3px solid;
      overflow: hidden;
    }

    &.is-not-modifiable {
      pointer-events: none;
      cursor: default;
    }

    &.is-active {
      &:hover {
        opacity: 1;
        animation-duration: 0.1s;
        animation-fill-mode: forwards;
        animation-name: grow;
      }
    }

    .cell-module-code {
      font-weight: bold;
    }

    .cell-module-lesson-type {
      font-size: $font-size-xxs;
    }

    .cell-module-group {
      font-size: $font-size-xxs;
    }

    .cell-module-venue {
      font-size: $font-size-xxs;
    }
  }
}

.timetable-cell {
  float: left;
  display: inline-block;
  height: 2.7777777777777%;
  text-align: center;
  width: 100%;

  &.timetable-day-cell {
    height: 5.5555555555555%;
  }
}

.module-table {
  display: -webkit-inline-box;
  width: 100%;
}

.fab {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
}

.day-column {
  width: $timetable-width;
}
